<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="connection.url">jdbc:mysql://localhost:3306/ecrm</property>
    <property name="connection.driver_class">org.hibernate.dialect.MySQLDialect</property>
    <mapping class="entity.TblClassroomEntity"/>
    <mapping class="entity.TblEquipmentEntity"/>
    <mapping class="entity.TblEquipmentCategoryEntity"/>
    <mapping class="entity.TblReportEntity"/>
    <mapping class="entity.TblReportDetailEntity"/>
    <mapping class="entity.TblRoleEntity"/>
    <mapping class="entity.TblRoomTypeEntity"/>
    <mapping class="entity.TblScheduleEntity"/>
    <mapping class="entity.TblUserEntity"/>
    <mapping class="entity.SysdiagramsEntity"/>
    <mapping class="Entity.TblClassroomEntity"/>
    <mapping class="Entity.TblEquipmentEntity"/>
    <mapping class="Entity.TblEquipmentCategoryEntity"/>
    <mapping class="Entity.TblReportEntity"/>
    <mapping class="Entity.TblReportDetailEntity"/>
    <mapping class="Entity.TblRoleEntity"/>
    <mapping class="Entity.TblRoomTypeEntity"/>
    <mapping class="Entity.TblScheduleEntity"/>
    <mapping class="Entity.TblUserEntity"/>
    <mapping class="com.ecrm.Entity.TblClassroomEntity"/>
    <mapping class="com.ecrm.Entity.TblEquipmentEntity"/>
    <mapping class="com.ecrm.Entity.TblEquipmentCategoryEntity"/>
    <mapping class="com.ecrm.Entity.TblReportEntity"/>
    <mapping class="com.ecrm.Entity.TblReportDetailEntity"/>
    <mapping class="com.ecrm.Entity.TblRoleEntity"/>
    <mapping class="com.ecrm.Entity.TblRoomTypeEntity"/>
    <mapping class="com.ecrm.Entity.TblScheduleEntity"/>
    <mapping class="com.ecrm.Entity.TblUserEntity"/>
    <mapping class="com.ecrm.Entity.TblUserInfoEntity"/>
    <mapping class="com.ecrm.Entity.TeachingTimeEntity"/>
    <mapping class="com.ecrm.Entity.TblEquipmentHaveUsingTimeEntity"/>
    <mapping class="com.ecrm.test.TblClassroomEntity"/>
    <mapping class="com.ecrm.test.TblEquipmentEntity"/>
    <mapping class="com.ecrm.test.TblEquipmentCategoryEntity"/>
    <mapping class="com.ecrm.test.TblEquipmentHaveUsingTimeEntity"/>
    <mapping class="com.ecrm.test.TblReportEntity"/>
    <mapping class="com.ecrm.test.TblReportDetailEntity"/>
    <mapping class="com.ecrm.test.TblRoleEntity"/>
    <mapping class="com.ecrm.test.TblRoomTypeEntity"/>
    <mapping class="com.ecrm.test.TblScheduleEntity"/>
    <mapping class="com.ecrm.test.TblUserEntity"/>
    <mapping class="com.ecrm.test.TblUserInfoEntity"/>
    <mapping class="com.ecrm.test.SysdiagramsEntity"/>
    <!-- DB schema will be updated if needed -->
    <!-- <property name="hbm2ddl.auto">update</property> -->
  </session-factory>
</hibernate-configuration>