<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="connection.url">jdbc:mysql://localhost:3306/ecrm</property>

    <!-- SQL dialect -->
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
    <mapping class="com.ecrm.Entity.TblClassroomEntity"/>
    <mapping class="com.ecrm.Entity.TblEquipmentEntity"/>
    <mapping class="com.ecrm.Entity.TblEquipmentCategoryEntity"/>
    <mapping class="com.ecrm.Entity.TblReportEntity"/>
    <mapping class="com.ecrm.Entity.TblReportDetailEntity"/>
    <mapping class="com.ecrm.Entity.TblRoleEntity"/>
    <mapping class="com.ecrm.Entity.TblRoomTypeEntity2"/>
    <mapping class="com.ecrm.Entity.TblScheduleEntity"/>
    <mapping class="com.ecrm.Entity.TblUserEntity"/>
    <mapping class="com.ecrm.Entity.TblUserInfoEntity"/>
    <mapping class="com.ecrm.Entity.TblUserNotificationEntity"/>
    <mapping class="com.ecrm.Entity.CrSdEntity"/>
    <mapping class="com.ecrm.Entity.TimeSchedule"/>
    <mapping class="com.ecrm.Entity.TeacherSchedule"/>
    <mapping class="com.ecrm.Entity.TblNotificationEntity"/>
    <mapping class="com.ecrm.Entity.TblScheduleConfigEntity"/>
    <mapping class="com.ecrm.Entity.TblMessageEntity"/>
    <mapping class="com.ecrm.Entity.TblEquipmentQuantityEntity"/>


    <!-- DB schema will be updated if needed -->
    <!-- <property name="hbm2ddl.auto">update</property> -->
  </session-factory>
</hibernate-configuration>