.notify-active {
    padding: 9px 14px;
    margin-bottom: 14px;
    background-color: #f7f7f7;
    border: 1px solid #e1e1e8;
    cursor: pointer;
}

.notify-active:hover {
    font-weight: bold;
    border: 1px solid #777;
    background-color: rgb(214, 223, 252);
}

.notify-active p{
    float: left;
    margin: 0;
}

.notify-active .room{
    width: 150px;
}

.notify-active .time{
    float: right;
}

.notify-active.type-1{
    background-color: #f2dede;
}

.notify-active.type-2{
    background-color: #fcf8e3;
}

.notify-active.type-3{
    background-color: #dff0d8;
}

.modal .table .date-report{
    width: 150px;
}

.modal .table .reporter{
    width: 164px;
}

.modal .table .staff{
    width: 164px;
}

.top-control {
    margin: 0 0 5px;
}

.top-control p{
    margin: 10px 0 0;
    float: left;
    height: 35px;
    text-align: end;
    font-weight: bold;
}

.top-control select{
    float: right;
}

.classroom-map {
    width: 100%;
    height: 410px;
    background-color: #f1f1f1;
}

.group-equipment{
    border: 1px solid #ccc;
    padding: 8px;
    margin: 10px 0 0;
}

.group-equipment input{
    float: left;
    margin: 21px 13px 0 5px;
}

.group-equipment .equipment{
    float: left;
    margin: 0 0 0 13px;
    line-height: 50px;
    cursor: default;
}

.group-equipment .quantity{
    float: right;
    line-height: 50px;
}

.search {
    margin: 10px 0;
    border: 1px solid #ccc;
    background-color: #fff;
    padding: 10px 7px;
}

.search .control{
    width: 25%;
    float: left;
}

.search .control select{
    width: 140px;
}

#report-history .map{
    height: 390px
}

#classroom-map {
    margin: 15px 0 0;
}

#classroom-map .map{
    height: 430px;
}

.modal .body-modal .row div{
    float: left;
}

.modal .body-modal .row{
    padding: 8px 0;
    height: 60px;
    position: relative;
    border-top: 1px solid #bbb;
    overflow: hidden;
}

.modal .body-modal .row div select{
    float: right;
    width: 200px;
    margin: 12px 0;
    z-index: 1;
    transition: 0.2s all ease-in;
    -webkit-transition: 0.2s all ease-in;
    -moz-transition: 0.2s all ease-in;
}

.modal .body-modal .row div select.small{
    height: 29px;
    padding: 0 8px;
    margin: 0;
}

.modal .body-modal .row div .description-equipment{
    float: right;
    margin: 2px 0 0;
    padding: 5px 8px;
    z-index: 1;
    transition: 0.2s all ease-in;
    -webkit-transition: 0.2s all ease-in;
    -moz-transition: 0.2s all ease-in;
}

.modal .body-modal .row div .description-equipment.hidden{
    height: 0;
    margin: 0;
    padding: 0 8px;
    border: 0;
}

.equip{
    float:left;
    width: 50px;
    height: 50px;
    background-size: 100% 100%;
}

.equipment-img {
    width: 50px;
    height: 50px;
    margin: 5px 0;
    background-size: 100% 100%;
}

.equipment-img.projector, .equip.projector{
    background-image: url("/resource/img/equipment/projector.png");
}

.equipment-img.air-condition, .equip.air-condition{
    background-image: url("/resource/img/equipment/air-512.png");
}

.equipment-img.speaker, .equip.speaker{
    background-image: url("/resource/img/equipment/003386-glossy-black-icon-media-music-speaker.png");
}

.equipment-img.tivi, .equip.tivi{
    background-image: url("/resource/img/equipment/widescreen_tv.png");
}

.equipment-img.fan, .equip.fan{
    background-image: url("/resource/img/equipment/fan-512.png");
}

.equipment-img.chair, .equip.chair{
    background-image: url("/resource/img/equipment/chair_office-512.png");
}

.equipment-img.table-icon, .equip.table-icon{
    background-image: url("/resource/img/equipment/Household-Table-icon.png");
}

.check-damaged{
    padding: 4px 15px;
    height: 18px;
    line-height: 18px;
    color: white;
    font-weight: bold;
    background-color: #A3A3A3;
    border-radius: 4px;
    margin: 16px 0;
    cursor: pointer;
    border-bottom: 2px solid #555;
}

.check-damaged:active{
    padding: 5px 15px;
    border-bottom: 0;
}

.check-damaged.check{
    background-color: #d9534f;
}

.message-text{
    position: absolute;
    top: 0;
    right: 0;
    height: 77px;
    line-height: 77px;
    z-index: -1;
    color: #d9534f;
    font-weight: bold;
    margin: 0;
}