.map {
    width: 100%;
    height: 400px;
    text-align: center;
    overflow: scroll;
    display: inline-block;
}

.day {
    margin-right: 15px;
    float: left;
}

.day:last-child, .day:last-child .ban {
    margin-right: 0;
}

.divDayGhe {
    height: 35px;
}

.subDIv {
    display: inline-block;
}

.ghe {
    margin-right: 4px;
    margin-top: 2px;
    width: 30px;
    height: 30px;
    float: left;
    background-image: url("../img/equipment/chair_office-512.png");
    background-size: 100%;
    background-repeat: no-repeat;
}

.ghe.hidden{
    visibility: hidden;
}

.ghe:hover {
    -webkit-transition-delay: 0.1s;
    -moz-transition-delay: 0.1s;
    -ms-transition-delay: 0.1s;
    -o-transition-delay: 0.1s;
    transition-delay: 0.1s;
    /*    border: 1px solid;
        border-color: cyan;
        box-shadow: 2px 2px 2px 2px cyan;*/
    -webkit-transform: scale(1.1); /* Safari and Chrome */
    -moz-transform: scale(1.1); /* Firefox */
    -ms-transform: scale(1.1); /* IE 9 */
    -o-transform: scale(1.1); /* Opera */
    transform: scale(1.1);
    background-color: dodgerblue;
    border-radius: 5px;
}

.ban {
    height: 30px;
    background-color: rgb(213, 162, 125);
    border-radius: 5px;
}

.ban:hover {
    -webkit-transition-delay: 0.1s;
    -moz-transition-delay: 0.1s;
    -ms-transition-delay: 0.1s;
    -o-transition-delay: 0.1s;
    transition-delay: 0.1s;
    -webkit-transform: scale(1.1); /* Safari and Chrome */
    -moz-transform: scale(1.1); /* Firefox */
    -ms-transform: scale(1.1); /* IE 9 */
    -o-transform: scale(1.1); /* Opera */
    transform: scale(1.1);
    border: 1px solid;
    border-color: dodgerblue;
}
.banGV{
    height: 30px;
    margin-bottom: 4px;
    width: 30px;
    background-color: rgb(213, 162, 125);
    border-radius: 5px;
}

.banGV.hidden{
    visibility: hidden;
}

.banGV:hover {
    -webkit-transition-delay: 0.1s;
    -moz-transition-delay: 0.1s;
    -ms-transition-delay: 0.1s;
    -o-transition-delay: 0.1s;
    transition-delay: 0.1s;
    -webkit-transform: scale(1.1); /* Safari and Chrome */
    -moz-transform: scale(1.1); /* Firefox */
    -ms-transform: scale(1.1); /* IE 9 */
    -o-transform: scale(1.1); /* Opera */
    transform: scale(1.1);
    border: 1px solid;
    border-color: dodgerblue;
}
.bang{
    margin-bottom: 10px;
    width: 100%;
}
.board {
    height: 20px;
    background-color: #999999;
    color: #666;
    text-align: center;
    padding: 3px;
    border-radius: 5px;
    width: 50%;
    margin: 0 auto;
}
.thietBi{
    width: 400px;
    height: 40px;
    display: inline-block;
    text-align: center;
}
.subThietBi{
    width: 40px;
    height: 40px;
    float: left;
    margin-right: 10px;
}
.subThietBi:hover {
    -webkit-transition-delay: 0.1s;
    -moz-transition-delay: 0.1s;
    -ms-transition-delay: 0.1s;
    -o-transition-delay: 0.1s;
    transition-delay: 0.1s;
    -webkit-transform: scale(1.1); /* Safari and Chrome */
    -moz-transform: scale(1.1); /* Firefox */
    -ms-transform: scale(1.1); /* IE 9 */
    -o-transform: scale(1.1); /* Opera */
    transform: scale(1.1);
    background-color: dodgerblue;
    border-radius: 5px;
}
.projector{

    background-image: url("../img/equipment/projector.png");
    background-size: 100%;
    background-repeat: no-repeat;

}
.tivi{
    background-image: url("../img/equipment/widescreen_tv.png");
    background-size: 100%;
    background-repeat: no-repeat;

}
.mayLanh{
    background-image: url("../img/equipment/air-512.png");
    background-size: 100%;
    background-repeat: no-repeat;
}
.quat{
    background-image: url("../img/equipment/fan-512.png");
    background-size: 100%;
    background-repeat: no-repeat;
}
.loa{
    background-image: url("../img/equipment/003386-glossy-black-icon-media-music-speaker.png");
    background-size: 100%;
    background-repeat: no-repeat;
}

.equipment{
    cursor: pointer;
}

.equipment.choose{
    background-color: #5cb85c;
    border-radius: 5px;
}

.damaged{
    background-color: dodgerblue!important;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}